/* -------------------------------------------------------------------------- */
/* Color palette:*/
/* -----------------------------------------------------------------------------
Dragon Fruit: #C6395C;
Medium version of Dragon Fruit: #CE5573;
Light version of Dragon Fruit: #FAEFF2;
Free Speech Blue: #3966D0;
Medium version of Free Speech Blue: #6286D9;
Light version of Free Speech Blue: #F3F6FC;
Light grey: #F4F5F6;
*/

body .sc {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: black;
}

.sc h1, .sc h2, .sc h3, .sc h4 {
  font-family: 'Montserrat', Helvetica, sans-serif;
}

.sc h1 {
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 3px;
}

.sc h2, .sc h3, .sc h4 {
  font-weight: 600;
  margin-top: 1.5em;
  line-height: 1.5;
}

.sc h2 {
  text-transform: uppercase;
}

.sc h3 { font-size: 1.06em; }

body .sc a {
  color: #C6395C; /* red */
  font-weight: 500;
  filter: contrast(150%)
}

body .sc a:visited {
  color: #C6395C; /* red */
  filter: contrast(100%)
}

.sc a:hover,
.sc a:focus {
  color: #3966D0; /* blue */
  filter: contrast(100%);
}

/*----------------------------------------------------------------------------*/
/* Layout styling */
/*----------------------------------------------------------------------------*/

.project-tagline {
  font-weight: 500;
  margin-left: 20px;
  margin-bottom: .35em;
}

.sc .sub-sections > ul {
  font-size: 0.75em;
  color: #606878;
  font-weight: 500;
  line-height: 1.3;
  margin: 8px 0 20px 0;
}
.sc .sub-sections > ul > li {
  display: inline;
}

.sc .sub-sections > ul > li::after {
  content: ' | ';
}

.sc .sub-sections > ul > li:last-of-type::after {
  content: none;
}

.section-top {
  margin-top: 30px;
}
.section-bottom {
  margin-bottom: 30px;
}

.full-width-section {
  margin: 0 -20px 0 -20px;
  padding: 20px 20px 30px 20px;
}

.sc.no-transition {
  padding-top: 0;
}

.sc.no-transition .section-header.full-width-section {
  padding-top: calc(30px + 1em);
}

.sc .red-border {
  border-bottom: 2px solid #CE5573;
}

.sc div.blue-border {
  border-bottom: 2px solid #3966D0;
}

.sc div.border + div p:first-child {
  margin-top: 8px;
}

.quote p:first-of-type {
  display:flex;
  align-items: flex-start;
  vertical-align: text-top;
  font-style: italic;
  line-height: 1.5;
  margin-top: 40px;
  margin-bottom: 5px;
}

.quote p:first-of-type::before {
  content: "“";
  font-family: Arial, sans-serif;
  font-size: 5rem;
  opacity: 70%;
  font-style: normal;
  vertical-align: text-bottom;
  margin-right: 5px;
  margin-top: -0.4em;
  margin-bottom: -1em;
}

.quote p:not(:first-of-type) {
  margin-left: 1.9em;
  margin-bottom: 20px;
}

.caption-bottom p, .caption-left p, .caption-right p {
  font-size: 0.8em;
}

.caption-bottom {
  margin-left: 10vw;
  margin-top: 10vw;
}

.caption-left p { text-align: right; }

/* -------------------------------------------------------------------------- */
/* 01a Intro */
/* -------------------------------------------------------------------------- */

.sc #intro-grid {
  display: grid;
  grid-template-columns: 35vw 1fr;
  grid-template-areas: "screen-shot hero-text"
                       "screen-shot ."
                       "desc-text desc-text";
  grid-template-rows: calc(55vw - 40px) auto auto;
  grid-column-gap: 20px;
  margin: 0 20px;
  padding: 20px 0;
}

#intro-grid .screen-shot { grid-area: screen-shot; }

#intro-grid .hero-text-cell {
  display: grid;
  grid-area: hero-text;
  align-content: center;
}

#intro-grid .desc-text {
  grid-area: desc-text;
  padding-top: 20px;
}

#intro-grid .hero-text {
  hyphens: auto;
  font-size: 0.9em;
  vertical-align: middle;
  height: 100%;
}

#intro .fw-background {
  background-image: linear-gradient(#6286D9 0%, #6286D9 55vw, #F3F6FC 55vw);
}

.sc.role-skills-tools {
  border-left: 5px solid #CE5573;
  padding-left: 1em;
  line-height: 1.75;
}

.sc.role-skills-tools h3 { margin-bottom: 0.25em; }

/* -------------------------------------------------------------------------- */
/* 01b Sneak Peek */
/* -------------------------------------------------------------------------- */
#sc-sneak-peek {
  background-color: #F3F6FC;
}

#sc-sneak-peek > h1,
#sc-sneak-peek > p {
  width: 75vw;
  margin: auto;
}

#sc-sneak-peek .screen-shot {
  width: 27vw;
}

#sc-screen-shots {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

#screen-shots-row1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 65vw;
  grid-gap: 5vw;
  padding-top: 10px;
  justify-items: center;
}

#screen-shots-row2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100vw;
  grid-gap: 3vw;
  justify-items: center;
  padding: 20px 20px 0px 20px;
  background-image: linear-gradient(#F3F6FC 0%, #F3F6FC 35%, #6286D9 35%);
}

#sc-sneak-peek .section-top {
  width: 80vw;
  margin: auto auto 20px;
  padding-top: 30px;
}

#sc-sneak-peek-bottom {
  background-color: #6286D9;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* -------------------------------------------------------------------------- */
/* 02 Research */
/* -------------------------------------------------------------------------- */
.st-wk-grid {
  display: grid;
  grid-template-areas: "st-title logo"
                       "st-bullets st-bullets"
                       "wk-title logo2"
                       "wk-bullets wk-bullets";
  align-items: end;
}

.st-wk-grid.letsroam {
  grid-template-columns: 1fr 10vw;
}

.st-wk-grid.uaq {
  grid-template-columns: 1fr 30vw;
}

.logo { grid-area: logo; }
.st-title { grid-area: st-title; }
.st-bullets { grid-area: st-bullets; }
.logo2 { grid-area: logo2; }
.wk-title { grid-area: wk-title; }
.wk-bullets { grid-area: wk-bullets; }

.letsroam .logo,
.letsroam .st-title,
.letsroam .logo2,
.letsroam .wk-title {
  border-bottom: 2px solid #E97824;
}

.letsroam .logo,
.letsroam .logo2 {
  padding-bottom: .4em;
}
.uaq .logo,
.uaq .st-title,
.uaq .logo2,
.uaq .wk-title {
  border-bottom: 2px solid #0091CF;
}

.st-wk-grid h3 {
  margin: 0;
  padding: 0 0 0.15em 0;
}

.st-wk-grid.uaq img {
  vertical-align: bottom;
}

#sc-logo {
  width: 40vw;
  padding-bottom: 5px;
}

#survey-section.sc {
  background-color: #F3F6FC;
}

.sc .quote-interview {
  color: white;
}

.sc .quote-interview p:first-of-type {
  font-size: 1.3em;
  font-weight: 500;
  /* font-style: italic; */
}

#research-equation {
  width: 65vw;
  margin: 20px;
}

#affinity-transition {
  margin-top: -20px;
}

#affinity-transition img {
  height: 35vh;
  object-fit: cover;
}

/* -------------------------------------------------------------------------- */
/* 03 Understanding the User */
/* -------------------------------------------------------------------------- */

#dereck-persona {
  background-image: linear-gradient(white 60%, #F4F5F6 60%, #F4F5F6 100%);
  padding-bottom: 0;
}

#malika-angie-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  margin-top: 30px;
}

#sc-dereck-journey {
  display: grid;
}

#sc-journey-map {
  position: relative;
}

#sc-journey-map .connector {
  position: absolute;
  top: calc(58.37vw - 23.3px);
  left: calc(10vw + 1em);
  height: calc(15.9vw - 2.36px);
}

#malika-angie-journey {
  display: grid;
  grid-template-areas: "title"
                       "malika"
                       "angie"
                       "text";
  grid-row-gap: 20px;
}

#malika-angie-journey-title { grid-area: title; }
#malika-journey { grid-area: malika; }
#angie-journey { grid-area: angie; }
#malika-angie-journey-text { grid-area: text; }

.sc .user-flow img {
  margin-bottom: 20px;
}

#sc-overwhelmed {
  max-width: 69vw;
  margin-left: auto;
  margin-right: auto;
}

#sc-overwhelmed p { hyphens: none; }

/* -------------------------------------------------------------------------- */
/* 04 Information Architecture */
/* -------------------------------------------------------------------------- */

#ia-transition img {
  height: 35vh;
  object-fit: cover;
}

#sc-card-sorting {
  background-image: linear-gradient(#FAEFF2 0%, white 25%, white 70%, #FAEFF2 100%);
}

#sc-sitemap {
  background-image: linear-gradient(white 0%, #F4F5F6 30%, #F4F5F6 100%);
}

#sc-similarity-matrix {
  display: grid;
  grid-template-areas: "title1"
                       "matrix1"
                       "text1"
                       "title2"
                       "matrix2"
                       "text2";
}

#sc-ideal-matrix-title { grid-area: title1; }
#sc-ideal-matrix { grid-area: matrix1; }
#sc-ideal-matrix-text { grid-area: text1; }
#sc-actual-matrix-title { grid-area: title2; }
#sc-actual-matrix { grid-area: matrix2; }
#sc-actual-matrix-text { grid-area: text2; }

#sc-ideal-matrix-title,
#sc-actual-matrix-title {
  margin-bottom: 1em;
}

#sc-similarity-matrix img {
  margin-bottom: 0.75em;
}


#sc-ia-conclusion {
  max-width: 85vw;
  margin-left: auto;
  margin-right: auto;
}

/* -------------------------------------------------------------------------- */
/* 05 Wireframing & Prototyping */
/* -------------------------------------------------------------------------- */

/* 05a Low-fidelity wireframes */
/* -------------------------------------------------------------------------- */
#sc-low-fid-transition {
  margin-top: -20px;
}

#my-hunts-grid {
  display: grid;
  grid-template-areas: "screen caption1"
                       "caption2 caption2";
  grid-template-columns: 35vw 1fr;
  grid-column-gap: 30px;
}

#my-hunts-screen {
  grid-area: screen;
  position: relative;
}

#my-hunts-screen .connector:nth-of-type(1) {
  position: absolute;
  top: 18vw;
  left: calc(35vw + 5px);
  height: 29vw;
}

#my-hunts-screen .connector:nth-of-type(2) {
  position: absolute;
  top: calc(18vw + 0.5em);
  left: calc(35vw + 5px);
  width: 20px;
}

#my-hunts-caption1 { grid-area: caption1; }
#my-hunts-caption1 p { margin-top: 18vw; }

#my-hunts-screen .connector:nth-of-type(3) {
  position: absolute;
  top: calc(66.4vw + 5px);
  left: 0.69vw;
  width: 33.47vw;
}

#my-hunts-screen .connector:nth-of-type(4) {
  position: absolute;
  top: calc(66.4vw + 5px);
  left: 5vw;
  height: calc(5vw + 17px);
}

#my-hunts-caption2 {
  grid-area: caption2;
  margin: 15px 0 20px 0;
}

#index-card-example {
  display: grid;
  grid-template-areas: "card caption1"
                       "caption2 final";
  grid-template-columns: 46vw 1fr;
  grid-column-gap: 20px;
  margin-top: 20px;
}

#index-card {
  grid-area: card;
  position: relative;
  width: 35vw;
}

#my-hunts-low-fid {
  position: absolute;
  width: 35vw;
  left: 11vw;
  top: 5.5vw;
}

#index-caption1 {
  grid-area: caption1;
  margin-top: 5.5vw;
}

#index-caption2 {
  grid-area: caption2;
  margin-top: 12vw;
}

#index-final { grid-area: final; }

/* 05A Finding a hunt */
/* -------------------------------------------------------------------------- */

.sc-design-iterations {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px 20px;
  justify-items: center;
}

.sc-design-iterations .mockup { position: relative; }
.sc-design-iterations .mockup svg { position: absolute; }

.connector {
  stroke-width: 3;
  stroke: #3966D0;
}

.connector.dereck-red { stroke: #CD535F;}
.connector.line-black { stroke: black; }
.connector.sc-red { stroke: #CE5573;}

.sc-design-iterations .connector.circle {
  fill: white;
  stroke-width: 2;
}

#hunt-info .connector.circle { fill: #F4F5F6; }
#sc-pref .connector.circle { fill: #F3F6FC; }

.sc-design-iterations .connector.line {
  height: 80px;
  stroke-width: 2;
}

.sc-design-iterations .connector.line.offset-lo-fid { height: calc(10.165vw + 80px); }

.sc-design-iterations .sc-screen-hi-fid1 .connector,
.sc-design-iterations .sc-screen-hi-fid2 .connector { top: calc(83.09vw + 5px); }

.sc-design-iterations .sc-screen-lo-fid .connector,
.sc-design-iterations .sc-screen-mid-fid .connector,
#hunt-info .sc-screen-hi-fid1 .connector { top: calc(82.5vw + 10px); }

.sc-design-iterations .sc-screen-rect-lo-fid .connector { top: calc(62.17vw + 10px); }
#buy-hunt .sc-screen-lo-fid .connector.line { top: calc(72.33454vw + 10px); }

.sc-design-iterations .connector { left: 0; }
.sc-design-iterations .connector.line.horiz-middle {
  left: calc(50vw - 50px);
  width: 20vw;
}

#buy-hunt .connector.line.horiz-middle { left: calc(40vw - 50px); }

.sc-design-iterations .sc-screen-lo-fid .connector { width: 39.17396061vw; }
.sc-design-iterations .sc-screen-rect-lo-fid .connector { width: 34.9950629vw;}
.sc-design-iterations .sc-screen-mid-fid .connector { width: 40.8006536vw; }
.sc-design-iterations .sc-screen-hi-fid1 .connector,
.sc-design-iterations .sc-screen-hi-fid2 .connector { width: 41vw; }

.sc-design-iterations .sc-screen-lo-fid { grid-area: lo-fid;}
.sc-design-iterations .sc-screen-rect-lo-fid { grid-area: rect-lo-fid; }
.sc-design-iterations .sc-screen-mid-fid  { grid-area: mid-fid;}
.sc-design-iterations .sc.caption1 { grid-area: caption1; }
.sc-design-iterations .sc-screen-hi-fid1 { grid-area: hi-fid1; }
.sc-design-iterations .sc-screen-hi-fid2 { grid-area: hi-fid2; }
.sc-design-iterations .sc-screen-rect-hi-fid2 { grid-area: rect-hi-fid2; }
.sc-design-iterations .sc.caption2 { grid-area: caption2; }
.sc-design-iterations .sc.caption3 { grid-area: caption3; }
.sc-design-iterations .dereck-says { grid-area: dereck-says; }

.sc-design-iterations .caption { margin-top: 65px; }

.sc-screen-lo-fid img,
.sc-screen-mid-fid img {
  max-height: 82.5vw;
  width: auto;
}

.sc-screen-hi-fid1 img,
.sc-screen-hi-fid2 img {
  max-width: 41vw;
  width: auto;
  height: auto;
}

.mockup img { vertical-align: top; }

#finding-a-hunt {
  grid-template-areas: "lo-fid mid-fid"
                       "caption1 caption1"
                       "hi-fid1 hi-fid2"
                       "caption2 caption2"
                       "dereck-says dereck-says";
}

/* 05B Getting info about a hunt */
/* -------------------------------------------------------------------------- */

#hunt-info {
  grid-template-areas: "lo-fid caption1"
                       "mid-fid hi-fid1"
                       "caption2 caption2"
                       "hi-fid2 caption3";
}

#hunt-info .caption1 { align-self: center; }
#hunt-info .caption3 { margin-top: 31vw; }

#hunt-info .sc-screen-mid-fid img,
#hunt-info .sc-screen-hi-fid1 img,
#sc-pref .sc-scree-lo-fid img,
#sc-pref .sc-screen-hi-fid1 img {
  max-height: 81.82vw;
  width: auto;
}


/* 05C Buying a hunt */
/* -------------------------------------------------------------------------- */
#buy-hunt {
  grid-template-areas: "rect-lo-fid lo-fid"
                       "caption1 caption1"
                       "rect-hi-fid2 hi-fid2"
                       "caption2 caption2";
  grid-template-columns: 1fr 48vw;
  grid-gap: 30px 0;
  align-items: center;
}

#sc-c-buy-hi-fid1 { display: none;}
#sc-c-conf-hi-fid1 { display: none;}

#buy-hunt .mockup.no-shell {
  justify-self: end;
  margin-right: -1vw;
}

#buy-hunt .sc-screen-lo-fid,
#buy-hunt .sc-screen-hi-fid2 { justify-self: start; }

#buy-hunt .sc-screen-rect-lo-fid img {
  max-height: 62.17vw;
  width: auto;
}

#buy-hunt .sc-screen-rect-hi-fid2 img {
  max-width: 33vw;
  height: auto;
}

/* 05D Selecting preferences */
/* -------------------------------------------------------------------------- */
#sc-pref {
  grid-template-areas: "lo-fid hi-fid1"
                       "caption1 caption1"
                       "hi-fid2 rect-hi-fid2"
                       "caption2 caption2";
  /* align-items: center; */
}

#sc-pref .sc-screen-hi-fid2 {
  justify-self: end;
  margin-right: -7vw;
  z-index: 2;
}

#sc-pref .sc-screen-rect-hi-fid2 img {
  max-width: 33vw;
  height: auto;
}

#sc-pref .sc-screen-rect-hi-fid2 {
  justify-self: start;
  align-self: center;
  margin-left: 1vw;
  z-index: 1;
}

#sc-d-hi-fid2-a img { display: none;}


/* -------------------------------------------------------------------------- */
/* 06 Usability Testing */
/* -------------------------------------------------------------------------- */

#sc-testing-prep {
  display: grid;
  grid-template-areas: "p1"
                       "quote"
                       "plan"
                       "plan-docs"
                       "objectives"
                       "participants";
  grid-row-gap: 20px;
  grid-template-rows: auto;
}

#sc-test-p1 { grid-area: p1; }
#sc-testing-quote { grid-area: quote; }
#sc-test-plan { grid-area: plan; }
#sc-test-plan-docs { grid-area: plan-docs; }
#sc-test-objectives { grid-area: objectives; }
#sc-test-participants { grid-area: participants; }

#sc-test-participants-icons img {
  margin-top: 0.625em;
  margin-bottom: 1.25em;
}

#sc-tester-stats {
  display: grid;
  /* justify-items: center; */
  margin-top: 20px;
}

#sc-tester-stats div { padding: 20px; }

#sc-stat2 { width: 40vw; }
#sc-stat3 { width: 70vw; }
#sc-stat4 { width: 60vw; }

/* 06b Test results */
/* -------------------------------------------------------------------------- */

#sc-test-plan-docs img:first-of-type { margin-bottom: 20px;}

#sc-test-results .table-header { display: none;}

#sc-test-results .test-task {
  display: grid;
  grid-template-areas:  "num num"
                        "desc desc"
                        "obs obs"
                        "seq seq";
  grid-template-columns: auto;
  border: 3px solid #6286D9;
  margin-top: 10px;
  margin-bottom: 20px;
}

#sc-test-results .test-task div {
  padding: 0.5em 0.75em;
}

#sc-test-results .test-task .seq-score {
  padding-top: 0;
  padding-bottom: 0;
}

#sc-test-results .test-task .task-number {
  padding-top: 0.3em;
  padding-bottom: 0;
}

#sc-test-results .test-task .task-desc {
  padding-top: 0;
  padding-bottom: 0.3em;
}

#sc-test-results .test-task .task-result {
  font-size: 0.9em;
}

#sc-test-results .test-task .task-number,
#sc-test-results .test-task .task-desc {
  grid-area: num;
  background-color: #6286D9;
  color: white;
  font-weight: bold;
}

#sc-test-results .seq-score {
  border-top: 1px solid #6286D9;
}

.task-result::before {
  content: "Outcome / Observations:";
  display: inline-block;
  font-weight: bold;
}

.task-number::before {
  content: "Task ";
}

.task-number::after {
  content: ":";
}

.seq-score::before {
  content: "SEQ Score*: ";
  font-weight: 600;
  font-size: 0.9em;
}

.seq-score-desc {
  font-size: 0.9em;

}
.seq-score-desc::before {
  content: "(";
}

.seq-score-desc::after {
  content: ")";
}

#sc-test-results .test-task .task-desc { grid-area: desc; }
#sc-test-results .test-task .seq-score { grid-area: seq; }
#sc-test-results .test-task .task-result { grid-area: obs; }

.sc .bullet-asterisk::before {
  content: "*";
  display: inline;
  /* width: 0.75em; */
}

.sc .bullet-asterisk {
  padding-left: 0.65em;
  text-indent: -0.65em;
  font-style: italic;
}

.partial-divider::before {
  content: '';
  display: block;
  width: 60vw;
  padding-bottom: 30px;
  border-top: 1px solid #8C8C8C;

}

#sc-sus-score {
  width: 60vw;
  margin-top: 15px;
}


/* 06a Issue 1 */
/* -------------------------------------------------------------------------- */

.sc.test-solution {
  border-bottom: 5px solid #E6ECF9;
  margin-bottom: 15px;
  margin-top: 0;
  margin-left: -2px;
  padding-left: 2px;
}

#sc-test-issue1 {
  display: grid;
  grid-template-areas: "old-screen caption"
                       "quote quote"
                       "dereck-says dereck-says";
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  justify-content: center;
}

#sc-test1-old-screen { grid-area: old-screen; }

#sc-test1-caption {
  grid-area: caption;
  margin-top: 5vw;
}

#sc-test1-quote { grid-area: quote; }

#sc-test1-dereck-says { grid-area: dereck-says; }

#sc-test-solution1 {
  display: grid;
  grid-template-areas: "caption1 screen1"
                       "screen2 caption2"
                       "caption3 screen3";
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  justify-content: center;
}

#sc-sol1-caption1 {
  grid-area: caption1;
  /* margin-top: 2vw; */
}

#sc-sol1-screen1 { grid-area: screen1; }

#sc-sol1-screen2 {
  grid-area: screen2;
  margin-top: -20vw;
}

#sc-sol1-caption2 {
  grid-area: caption2;
  align-self: center;
  margin-bottom: 20vw;
}

#sc-sol1-screen3 {
  grid-area: screen3;
  margin-top: -20vw;
}

#sc-sol1-caption3 {
  grid-area: caption3;
  align-self: end;
  margin-bottom: 10vw;
  margin-left: 10px;
}

/* 06b Issue 2 */
/* -------------------------------------------------------------------------- */

#sc-test-issue2-section {
  background-image: linear-gradient(#F3F6FC 50%, white);
}

#sc-test-issue2 {
  display: grid;
  grid-template-areas: "caption3 caption3"
                       "old-screen caption1"
                       "old-screen caption2"
                       "caption4 caption4";
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  justify-content: center;
}

#sc-test2-old-screen {
  grid-area: old-screen;
  position: relative;
}

#sc-test2-old-screen .connector.line {
  position: absolute;
  top: calc(19.2vw - 11.52px);
  left: calc(14.29vw - 8.57px);
  height: calc(92.59vw - 54.55px);
}

#sc-test2-old-screen .connector.double-elbow {
  position: absolute;
  top: calc(11vw + 0.55em);
  left: calc(19.64vw - 11.79px);
  height: calc(41.23vw - 31.34px - 0.55em);
  width: calc(30.36vw - 1.31px);
}

.connector.vert-line {
  position: absolute;
  top: calc(11vw + 0.55em);
  left: calc(46.81vw - 12.962px);
  height: calc(41.23vw - 31.34px - 0.55em);
}

#sc-test2-caption1 {
  grid-area: caption1;
  margin-top: 11vw;
}

#sc-test2-caption2 {
  grid-area: caption2;
  /* align-self: center; */
  /* margin-bottom: 3vw; */
}
#sc-test2-caption3 { grid-area: caption3; }

#sc-test2-caption4 {
  grid-area: caption4;
  margin-left: 0;
}

#sc-test-solution2 {
  display: grid;
  grid-template-areas: "caption1 screen1"
                       "screen2 caption2"
                       "dereck-says dereck-says";
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  justify-content: center;
}

#sc-sol2-caption1 {
  grid-area: caption1;
  margin-top: 1vw;
}

#sc-sol2-caption1 p { text-align: left; }

#sc-sol2-screen1 { grid-area: screen1; }

#sc-sol2-screen2 {
  grid-area: screen2;
  margin-top: -23vw;
}
#sc-sol2-caption2 {
  grid-area: caption2;
  align-self: center;
}
#sc-sol2-dereck-says { grid-area: dereck-says; }

#sc-testing-quote {
  font-size: 1.2em;
  font-weight: 600;
  color: #3966D0; /* Blue */
}

#sc-testing-quote p {
  margin-bottom: 0;
}

#sc-positive-quotes {
  margin-top: -20px;
}
.sc-tester-quote p:first-of-type::before {
  opacity: 20%;
  color: #3966D0; /* Blue */
}

#us-flag-transition img {
  margin-top: -17vw;
  margin-bottom: -23vw;
}

/* -------------------------------------------------------------------------- */
/* 07 Fine-Tunign the Design */
/* -------------------------------------------------------------------------- */

#sc-color-scheme {
  display: grid;
  grid-template-areas: "colors colors"
                       "caption1 caption2";
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4.5vw;
}

#sc-color-transition {
  grid-area: colors;
  margin-top: 20px;
  margin-bottom: 5px;
}

#sc-colors-caption1 { grid-area: caption1; }
#sc-colors-caption2 { grid-area: caption2; }

#sc-colors-caption1 p,
#sc-colors-caption2 p {
  hyphens: none;
}

/* -------------------------------------------------------------------------- */
/* 08 Accessibility */
/* -------------------------------------------------------------------------- */

#sc-accessibility1,
#sc-accessibility2 {
  display: grid;
  grid-template-columns: 20vw 12vw 1fr 12vw 20vw;
  grid-row-gap: 20px;
}

#sc-accessibility1 {
  grid-template-areas: "error error error error ."
                       ". . caption1 caption1 caption1"
                       ". buttons buttons buttons buttons"
                       "caption2 caption2 caption2 . ."
                       "link link link link ."
                       ". . caption3 caption3 caption3";
}

#sc-accessibility2 {
  grid-template-areas: "p1 p1 p1 p1 p1"
                       "field field field field ."
                       ". . caption caption caption";
}

#sc-error { grid-area: error; }
#sc-error-caption { grid-area: caption1; }
#sc-buttons { grid-area: buttons; }
#sc-buttons-caption { grid-area: caption2; }
#sc-link { grid-area: link; }
#sc-link-caption { grid-area: caption3; }

#sc-another-way { grid-area: p1; }
#sc-input-field { grid-area: field; }
#sc-input-caption { grid-area: caption; }

#sc-error-caption,
#sc-buttons-caption,
#sc-link-caption,
#sc-input-caption {
  margin-top: 0;
}

#sc-accessibility1 .caption-left p,
#sc-accessibility1 .caption-right p {
  margin-bottom: 30px;
}

#sc-error, #sc-buttons, #sc-link, #sc-input-field {
  position: relative;
}

#sc-error .connector {
  position: absolute;
  top: calc(16.81vw - 8.41px);
  left: calc(56.23vw - 28.12px);
  width: calc(33.77vw - 11.88px);
  height: calc(15.07vw + 12.46px);
}

#sc-buttons .connector {
  position: absolute;
  top: calc(11.59vw - 5.8px);
  left: -10vw;
  width: calc(13.48vw - 1.74px);
  height: calc(10.72vw + 14.64px);
}

#sc-link .connector {
  position: absolute;
  top: calc(22.32vw - 11.16px);
  left: calc(77.39vw - 38.5px);
  width: calc(12.61vw - 1.3px);
  height: calc(7.25vw + 16.38px);
}

/* #sc-input-elbow { */
#sc-input-field .connector {
  position: absolute;
  top: calc(13.33vw - 6.67px);
  left: calc(64.93vw - 32.46px);
  width: calc(25.07vw - 7.54px);
  height: calc(8.33vw + 15.84px);
}

/* -------------------------------------------------------------------------- */
/* 09 Final Designs */
/* -------------------------------------------------------------------------- */

#sc-demo img {
  height: 150vw;
  object-fit: cover;
}

/* -------------------------------------------------------------------------- */
/* 10 Final Thoughts */
/* -------------------------------------------------------------------------- */

#sc-final-thoughts .full-width-section {
  padding-bottom: 0.625em;

}

#sc-final-thoughts {
  border-bottom: 5px solid #DBDBDB; /* Light grey */
}

#sc-improvements {
  display: grid;
  grid-template-areas: "hunt-detail caption1"
                       "caption2 caption2"
                       "caption3 join"
                       "my-hunts caption4"
                       "caption5 caption5";
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-content: center;
}

#sc-improv-caption1 { grid-area: caption1; }

#sc-improv-hunt-detail {
  grid-area: hunt-detail;
  position: relative;
}

#sc-improv-caption2 { grid-area: caption2; }
#sc-improv-caption3 { grid-area: caption3; }

#sc-improv-join { grid-area: join; }
#sc-improv-my-hunts {
  grid-area: my-hunts;
  position: relative;
}

#sc-improv-caption4 {
  grid-area: caption4;
  margin-top: calc(16.125vw - 18.67px);
}

#sc-improv-caption1 p,
#sc-improv-caption4 p {
  margin-bottom: 0;
 }

#sc-improv-caption5 { grid-area: caption5; }

#sc-improv-hunt-detail .connector.double-elbow {
  position: absolute;
  top: 0.5em;
  left: calc(25.11vw - 15.06px);
  height: calc(26.62vw - 15.97px - 0.5em);
  width: calc(24.89vw + 5.06px)
}

#sc-improv-hunt-detail .connector.vert-line {
  position: absolute;
  top: 0.5em;
  left: calc(47.38655vw - 10.5313px);
  height: calc(26.62vw - 15.97px - 0.5em);
}

#sc-improv-hunt-detail .connector.line {
  position: absolute;
  top: 0;
  left: 0;
  /* height: calc(3.03vw + 16.18px); */
}

#sc-improv-hunt-detail .connector.line {
  position: absolute;
  top: calc(77.71vw - 46.62px);
  left: calc(44.37vw - 26.62px);
  height: calc(3.03vw + 16.18px);
}

#sc-improv-my-hunts .connector.horiz-line {
  position: absolute;
  left: calc(41.56vw - 24.94px);
  top: calc(16.02vw - 9.61px);
  width: calc(8.44vw + 9.94px);
}

#sc-improv-my-hunts .connector.vert-line {
  position: absolute;
  left: calc(5.41vw - 3.25px);
  top: calc(46.32vw - 27.79px);
  height: calc(62.12vw - 19.27px);
}

.shadow-black {
  filter: drop-shadow(0 0.1em 0.25em rgba(0,0,0,.4));
}

.shadow-white {
  filter: drop-shadow(0 0.1em 0.25em rgba(250,250,250,.6));
}

.dereck-says {
  position: relative;
  background-color: #F3F6FC;
  margin: 30px 0 0 10vw;
}

.dereck-says p {
  font-weight: 500;
  font-style: italic;
  padding: 1em 1em 1em 1.5em;
  margin: 0;
  display: block;
}

.dereck-says::before {
  content: "Dereck says:";
  background-color: #6286D9;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.5em 0em 0.5em 3em;
  display: block;
}
.dereck-says img {
  position: absolute;
  top: -4.3vw;
  left: -10.5vw;
  width: 20vw;
  border: 2.5px solid white;
  border-radius: 50%;
}


/*----------------------------------------------------------------------------*/
/* Bulleted lists with colored rounded-corner squares */
/*----------------------------------------------------------------------------*/

.bullets ul {
  /* display: flex;
  flex-wrap: wrap; */
}

.sc ul.bullets li {
  /* display: flex;
  align-items: flex-start;
  margin: 0.5em 0 0.5em 0.2em; */

  position: relative;
  text-indent: 0px;
  margin: 0.5em 0px 0.5em 20px;
}

.sc .bullets li::before {
  /* content: '■';
  font-size: 1.1em;
  font-family: 'SF Mono';
  line-height: 1;
  margin-right: .7em;
  margin-top: 0.12em; */

  position: absolute;
  /* top: 0; */
  left: -20px;
  width: 0.7em;
  height: 0.7em;
  /* background-color: black; */
  border-radius: 25%;
  content: "";
  transform: translateY(0.35em) scale(0.9, 0.9);
}

.letsroam-bullets li:before { background-color: #E97824; }
.letsroam-light-bullets li:before { background-color: #F2B282; }
.uaq-bullets li:before { background-color: #0091CF; }
.uaq-light-bullets li:before { background-color: #B0DDF0; }
.sc .med-blue-bullets li:before { background-color: #6286D9; }
.sc .red-bullets li:before { background-color: #CE5573; }
.dereck-bullets li:before { background-color: #E1A7AB; }
.malika-bullets li:before { background-color: #99B1D6; }
.angie-bullets li:before { background-color: #AFBC9F; }

.title-suffix {
  font-size: .9em;
  font-weight: normal;
  text-transform: none;
}

/* Background colors */
/* -------------------------------------------------- */
.sc .back-blue { background-color: #3966D0; }
.sc .back-med-blue { background-color: #6286D9; }
.sc .back-med-red { background-color: #CE5573; }
.sc .back-light-blue { background-color: #F3F6FC; }
.sc .back-light-pink { background-color: #FAEFF2; }
.sc .back-light-grey { background-color: #F4F5F6; }
.sc .font-white { color: white; }
.sc .font-red { color: #C6395C; }
.sc .font-blue { color: #3966D0; }
.font-letsroam { color: #E97824;}
.font-uaq { color: #0091CF;}

/*----------------------------------------------------------------------------*/
/* Font styling */
/*----------------------------------------------------------------------------*/
.sc .font-medium { font-weight: 500; }
.sc .font-smaller { font-size: 0.8em; }
.sc .font-smallest { font-size: 0.7em; }
.sc .font-larger { font-size: 1.1em; }

.sc .font-largest {
  font-size: 1.5em;
  font-weight: bold;
}

.center-text { text-align: center; }
.sc .centered-title {
  text-align: center;
  margin-bottom: 15px;
}

.sc.first-body-cell h2:first-child {
  margin-top: 0;
}

.sc .big-number {
  font-size: 1.7em;
  font-weight: bold;
  color: #C6395C;
  vertical-align: text-top;
  line-height: 0.6;
}

.sc-random-red-text {
  color: #C6395C;
  line-height: 1;
}
.emphasis-dereck {
  color: #CD525E;
  font-weight: 500;
}

.emphasis-malika {
  color: #0F2D75;
  font-weight: 500;
}

.emphasis-angie {
  color: #587330;
  font-weight: 500;
}

.sc tr:nth-child(odd) {
  background-color: #F3F6FC;
}

.sc th {
  font-weight: bold;
  color: white;
  background-color: #6286D9;
}

.sc.issue {
  font-weight: bold;
  font-size: 1.1em;
  color: #C6395C;
}

/*----------------------------------------------------------------------------*/
/* Media queries for tablets and larger */
/*----------------------------------------------------------------------------*/

@media screen and (min-width: 640px) {

  .sc h1 { font-size: 1.7em; }
  .sc h2 {font-size: 1.1em; }

  main.project section {
    padding: unset;
  }

  .max-width-section {
    background-color: white;
    max-width: 1200px;
    margin: 0 auto;
  }

  .section-bottom {
    padding-bottom: 30px;
    margin-bottom: 0;
  }

  .project-tagline { margin-left: 40px; margin-bottom: 20px; }

  .sc #intro-grid {
    display: grid;
    grid-template-columns: 27% 1fr;
    grid-template-areas: "screen-shot hero-text"
                         "screen-shot desc-text";
    grid-template-rows: auto 1fr;
    grid-column-gap: 50px;
    margin: 0px auto;
    padding: 40px 0 0 0;
    max-width: 680px;
  }

  #intro .fw-background {
    background-image: linear-gradient(#6286D9 0%, #6286D9 75%, #FFFFFF 75%);
  }

  #intro-grid .desc-text p { color: white; }

  #intro-grid .hero-text-cell {
    align-content: start;
    font-size: 1.15em;
    padding-top: 10%;
    max-width: 25em;
  }


}

/*----------------------------------------------------------------------------*/
/* Media queries for desktops and larger */
/*----------------------------------------------------------------------------*/
@media only screen and (min-width: 1024px) {

  body.project { background-color: black; }
  body .sc { font-size: 18px; }
  .sc h1 { font-size: 1.7em; }

  .project-tagline { margin-left: 70px; }

  .sc .sub-sections > ul {
    font-size: 0.7em;
    font-weight: 500;
    line-height: 2;
    color: inherit;
    margin: unset;
    text-align: right;
  }

  .sc .sub-sections > ul > li { display: block; }
  .sc .sub-sections > ul > li::after { content: unset; }

  .sc .section-header {
    display: grid;
    grid-template-areas: "num title"
                         "sub content";
    grid-template-columns: 150px auto;
    grid-column-gap: 50px;
    padding: 0 30px;
  }

  .sc .section-header div:first-of-type {
    grid-area: num; text-align: right;
    padding-bottom: 1em;
  }

  .sc .section-header div:nth-of-type(2) {
    grid-area: title;
    padding-bottom: 1em;
  }

  .sc .section-header .sub-sections { grid-area: sub; }
  .sc .section-header .first-body-cell { grid-area: content; }



  .sc #intro-grid { max-width: 800px; }

  #intro-grid .hero-text-cell { font-size: 0.97em; }

  #sc-overview .grid-container {
    display: grid;
    grid-template-columns: 78% auto;
    grid-column-gap: 30px;
    padding: 60px 30px 60px 0;
  }

#sc-overview .grid-container .section-header { grid-template-rows: calc(3.04em + 3px) auto;}

/* .sc.role-skills-tools { margin-top: calc(3.04em + 3px); } */
.sc.role-skills-tools h3:first-of-type { margin-top: 0.1em; }


}
