/* Color palette: */
:root {
  --jazzberry: #B20F5C;
  --jazzberry-light: #FFE5EE;
  --syrah: #7D0B5B;
  --lizard-green: #239B15;
  --cerulean-blue: #3056CE;
  --vaguely-violet: #E6ECFF;

  --topnav-height-sm: 61px;
  --topnav-height-md: 75px;
  --topnav-height-lg: 85px;
}

/*----------------------------------------------------------------------------*/
/* Global styles */
/*----------------------------------------------------------------------------*/
html { scroll-behavior: smooth; }

* { box-sizing: border-box; }

body {
  background-color: white;
  font-family: 'Metrisch', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.375;
  color: black;
  padding-top: var(--topnav-height-sm);
}

b { font-weight: bold; }
i { font-style: italic; }
em {
  font-weight: bold;
  color: var(--jazzberry);
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 0.75em;
  color: var(--syrah)
}

h2 {
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

p { margin-bottom: 1em; }

img {
  width: 100%;
  vertical-align: middle;
}

a {
  color: var(--cerulean-blue);
  transition: all 0.25s;
}

a:visited {
  color: var(--syrah);
}

a:hover,
a:focus,
a:active {
  color: var(--jazzberry);
}

/*----------------------------------------------------------------------------*/
/* Font styling */
/*----------------------------------------------------------------------------*/

.font-medium { font-weight: 500; }

.font-larger {
  font-size: 1.125em;
  font-weight: bold;
  margin-bottom: 0.9em;
}

.text-center { text-align: center; }

/*----------------------------------------------------------------------------*/
/* Buttons styling */
/*----------------------------------------------------------------------------*/

.button,
.button-filled,
.button-ghost {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.125em;
  text-align: center;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.button-filled {
    background-color: yellow;
    color: #ffffff !important;
    padding: 10px 30px;
    transition: all 0.25s;
}

.button-ghost {
    background-color: white;
    color: black !important;
    border: 1.5px solid black;
    padding: 8.5px 28.5px;
    transition: all 0.25s;
}

.button-filled.button-blue { background-color: var(--cerulean-blue); }

.button-ghost.button-blue {
  color: var(--cerulean-blue) !important;
  border-color: var(--cerulean-blue);
}

.button-ghost.button-blue:hover,
.button-ghost.button-blue:active {
  background-color:  var(--cerulean-blue);
  border-color: var(--cerulean-blue);
  color: #FFFFFF !important;
}

.button-ghost.button-red {
  color: var(--jazzberry) !important;
  border-color: var(--jazzberry);
}

.button-ghost.button-red:hover,
.button-ghost.button-red:active {
  background-color:  var(--jazzberry);
  border-color: var(--jazzberry);
  color: #FFFFFF !important;
}

.button-filled.work { background-color: var(--lizard-green); }

.button-filled:hover,
.button-ghost:hover,
.button-filled:active,
.button-ghost:active {
  -webkit-filter: brightness(125%) drop-shadow(0 0.1em 0.25em rgba(0,0,0,.4));
          filter: brightness(125%) drop-shadow(0 0.1em 0.25em rgba(0,0,0,.4));
}

.button-ghost ~ p {
  margin-top: 20px;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none; /* NOTE: pointer-events cancels out the not-allowed cursor */
}

.button-filled.disabled,
.button-filled.disabled:hover,
.button-filled.disabled:active {
  opacity: 70%;
  -webkit-filter: none;
          filter: none;
}

/*----------------------------------------------------------------------------*/
/* Header and top nav */
/*----------------------------------------------------------------------------*/
header,
#menu-container { background-color: var(--jazzberry); }

#menu-container { border-top: solid 5px var(--vaguely-violet); }

#work { position: relative; }

#work-anchor {
 position: absolute;
 top: -66px;
}

/*----------------------------------------------------------------------------*/
/* Layout styling */
/*----------------------------------------------------------------------------*/

section { padding: 30px 20px 40px 20px; }

p + h1 { margin-top: 30px; }

.indented-quote {
    margin: 30px 10px 30px 20px;
    border-left: solid 2px var(--cerulean-blue);
    padding: .1em 0 .1em 0.75em;
    font-size: 1.1em;
    font-weight: bold;
    color: var(--cerulean-blue);
}

.hide { display: none; }


/* Sections in index page */
/*----------------------------------------------------------------------------*/
#intro,
#about-me { border-bottom: 5px solid var(--vaguely-violet); }

.case-study:not(:last-of-type) { padding-bottom: 20px; }

.grid-item p:last-of-type { margin-bottom: 0; }

#work .case-studies .case-study:not(:first-of-type) {
  padding-top: 20px;
  border-top: 1px solid var(--syrah);
}

.project-picture {
  position: relative;
  margin-bottom: 0.75em;
  overflow: hidden;
}

#play-animation-button {
  position: absolute;
  bottom: 5px;
  right: 12px;
  font-size: 1.5rem;
  color: var(--jazzberry);
  align-items: center;
}

.project-picture .overlay {
  position: absolute;
  display: grid;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(125,11,91, 0.80);
  -webkit-filter: opacity(0);
          filter: opacity(0);
  transition: all 0.25s;
  align-content: center;
}

#mev-logo-animation.project-picture:hover #play-animation-button { color: #FFFFFF; }

#mev-logo-animation.project-picture { height: calc(63vw - 25.2px); }

a.overlay { text-decoration: none; }

.project-picture .overlay p {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0 10px;

}

.project-picture:hover .overlay,
.project-picture:active .overlay {
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

.project-picture:hover .overlay.hide-overlay {
  -webkit-filter: opacity(0);
          filter: opacity(0);
}

.project-picture img {
  transform: scale(1);
  transition: all 0.5s;
}

.project-picture:hover img {
  transform: scale(1.1);
}

.image-container {
  position: relative;
  overflow: hidden;
  -o-object-position: top left;
     object-position: top left;
}

.image-container svg {
  /* height: 100%; */
  width: 100%;
}

#mev-logo-animation {
  /* padding: 20px; */
  background-color: var(--jazzberry-light);
}


/* Sections in about page */
/*----------------------------------------------------------------------------*/

#profile-pic {
  width: 12.5em;
  height: auto;
  margin-bottom: 20px;
}

h1 > p {
  font-size: .85em;
  font-weight: normal;
}

#hero .intro h1 { margin-bottom: 0; }

#hero .intro p {
  color: var(--syrah);
  font-size: 1.1em;
  font-weight: 500;
  margin-top: 0;
}

#hero { border-bottom: 5px solid var(--syrah); }

#skills-and-tools {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "skills tools"
                       "resume resume";
  grid-gap: 0 25px;
  background-color: var(--jazzberry-light);
  padding: 20px;
  margin: 30px -20px;
}

#skills { grid-area: skills; }
#tools { grid-area: tools; }
#resume-button { grid-area: resume; }

#tools,
#skills { font-size: .9em; }

#tools li,
#skills li {
  line-height: 1.25;
  margin-bottom: 0.75em;
}

#fun { margin-top: 30px; }

/*----------------------------------------------------------------------------*/
/* Footer */
/*----------------------------------------------------------------------------*/

#contact {
  background-color: var(--vaguely-violet);
  padding-bottom: 15px;
}

#contact h1 { color: black; }

#contact {
  display: grid;
  grid-template-areas: "title"
                       "tagline"
                       "button"
                       "call-skype";
  justify-items: center;
}

#contact h1 { grid-area: title;}
#contact p { grid-area: tagline; text-align: center;}
#contact a.button-ghost { grid-area: button; width: 100%; }

#call-skype {
  grid-area: call-skype;
  margin: 20px 0;
  text-align: center;
}

#call-skype p {
  display: inline-block;
  margin: 0;
}

#call-skype p:first-of-type::after { content: " | "; }

.solid-footer {
  margin: 0;
  background-color: var(--cerulean-blue);
  padding: 20px 20px 10px 20px;
}

.soc-media-icons {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.soc-media-icons a {
  display: inline-block;
  justify-content: center;
  color: var(--cerulean-blue);
  line-height: 2.4em;
  text-align: center;
  background-color: white;
  border-radius: 50%;
  width: 2.2em;
  height: 2.2em;
}

.soc-media-icons a:hover,
.soc-media-icons a:active {
  color: var(--jazzberry) !important;
  /* box-shadow: inset 0 0 5px 1px rgba(178,15,92,.4); */
}

#mev-copyright p {
  font-family: Arial, sans-serif;
  font-size: 0.8125em;
  color: white;
  text-align: center;
  margin-top: 15px;
}


/*----------------------------------------------------------------------------*/
/* Media queries for tablets and larger */
/*----------------------------------------------------------------------------*/
@media only screen and (min-width: 640px) {

  body { padding-top: var(--topnav-height-md); }

  #menu-container { border-top: none; }

  section { padding: 30px 40px 40px 40px; }

  .button-container {
    display: flex;
    justify-content: space-between;
  }

  a.button-filled,
  a.button-ghost { display: inline-block; }

  /* Intro section in index page | tablets */
  /*--------------------------------------------------------------------------*/
  #intro{ padding: 46px 57px 40px 136px; }
  
  #intro .section-content { max-width: 460px; }

  #intro, #about-me { border-bottom: 7px solid var(--vaguely-violet); }

  /* My Work section in index page | tablets */
  /*--------------------------------------------------------------------------*/
  #work-anchor { top: -82px; }
  #work { border-bottom: none; }

  .case-study {
    display: grid;
    grid-template-areas: "pic title"
                         "pic desc"
                         "button desc";
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 35px;
  }

  .case-study h2 { grid-area: title; }
  .case-study .project-picture { grid-area: pic;}
  .case-study .case-desc { grid-area: desc; }
  .case-study a { grid-area: button; }

  .button-filled.work {
    width: 100%;
    margin-top: 15px;
   }

  .project-picture { margin: 0; }

  .project-picture img {
    width: 100%;
    height: auto;
    vertical-align: top;
  }

  #mev-logo-animation.project-picture { height: calc(31.5vw - 36.225px); }


  /* Hero section in about page | tablets */
  /*--------------------------------------------------------------------------*/
  #hero { border-bottom: 7px solid var(--syrah); }

  #hero .section-content {
    display: grid;
    grid-template-areas: "pic hello"
                         "pic desc"
                         "pic buttons";
    grid-template-columns: 30% minmax(0, 445px);
    grid-column-gap: 30px;
  }

  #profile-pic {
    grid-area: pic;
    height: 100%;
    width: auto;
    padding-right: 30px;
    margin-bottom: 0;
  }

  #hero .intro {
    grid-area: hello;
    margin-top: 10px;
    margin-bottom: 0px;
    max-width: 310px;
  }

  #hero .desc {
    grid-area: desc;
    margin: 0;
  }

  #hero .button-container {
    grid-area: buttons;
    margin: 0;
    align-self: end;
    display: flex;
    flex-direction: column;
  }

  /* About Me section in about page | tablets */
  /*--------------------------------------------------------------------------*/
  #about-me .section-content {
    display: grid;
    grid-template-areas: "skills-and-tools my-story"
                         "skills-and-tools personal"
                         "skills-and-tools fun";
    grid-template-columns: 30% 1fr;
    grid-gap: 20px 30px;
  }

  #skills-and-tools {
    grid-area: skills-and-tools;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 1080px;
    padding: 30px 30px 40px 40px;
    margin: -30px 0px -40px -40px;
  }

  #resume-button .button-ghost { margin-top: 0px; }

  #my-story { grid-area: my-story; }
  #personal { grid-area: personal; }
  #fun {
    grid-area: fun;
    margin-top: 0;
  }

  #my-story, #personal, #fun { max-width: 700px;}

  #tools,
  #skills { font-size: 1em; }

  #resume-button {
    align-self: end;
    margin-bottom: 0.625em;
  }

  .indented-quote { margin: 30px 50px 30px 30px; }

  /* Footer | tablets */
  /*--------------------------------------------------------------------------*/
  #contact {
    grid-template-areas: "title ."
                         "tagline call-skype"
                         "button call-skype";
    grid-template-columns: auto 1fr;
    justify-items: start;
    padding-bottom: 30px;
  }

  #contact > p {
    margin-bottom: 0;
    text-align: left;
  }

  #contact a.button-ghost { width: 16em; }

  #call-skype {
    justify-self: end;
    align-self: end;
    margin-bottom: 0;
  }

  #call-skype p {
    display: block;
    text-align: right;
  }

  #call-skype p:first-of-type::after { content: ""; }

  .solid-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 15px 0;
  }

  #mev-copyright p {
    text-align: right;
    margin: 0 40px 0 0;
  }

  .soc-media-icons {
    margin-left: 40px;
    font-size: 0.85em;
    width: 21.17647em;
  }

}

/*----------------------------------------------------------------------------*/
/* Special case for hero section buttons */
/*----------------------------------------------------------------------------*/
@media only screen and (min-width: 760px) {

  #hero .button-container { flex-direction: row; }

}

/*----------------------------------------------------------------------------*/
/* Media queries for desktops and larger */
/*----------------------------------------------------------------------------*/
@media only screen and (min-width: 1024px) {

  body {
    font-size: 18px;
    padding-top: var(--topnav-height-lg);
    max-width: 1250px;
    margin: 0 auto;
    background-color: #FFF5F8;/*#F8FCF8 (green); /*#FFF5F8 (pink);*/
    box-shadow: 1px 0 15px rgba(0,0,0,.4);
    -webkit-box-shadow: 1px 0 15px rgba(0,0,0,.4);
  }

  header { max-width: 1250px; }

  section {
    padding: 30px 70px 40px 70px;
    background-color: #FFFFFF;
  }

  /* Sections in index page | desktop */
  /*--------------------------------------------------------------------------*/
  #intro { padding: 46px 177px 40px 150px; }
  #intro .section-content { max-width: 510px; }
  #intro, #about-me { border-bottom: 10px solid var(--vaguely-violet); }

  #work-anchor { top: -95px; }
  #work { padding: 30px 150px 40px 150px; }

  .case-study {
    grid-template-columns: 2fr 3fr;
    max-width: 800px;
  }

  #mev-logo-animation.project-picture {
    height: calc(26vw - 84.42px);
    max-height: 192.766px;

  }

  /* Sections in about page | desktop */
  /*--------------------------------------------------------------------------*/
  #hero { border-bottom: 10px solid var(--syrah); }

  #hero .section-content {
    grid-template-columns: 225px 490px;
    grid-column-gap: 90px;
  }

  #about-me .section-content {
    grid-template-columns: 270px 1fr;
    grid-gap: 30px 50px;
  }

  #skills-and-tools {
    min-height: 1200px;
    padding: 30px 70px 40px 70px;
    margin: -30px 0px -40px -70px;
  }

  /* Footer | desktop */
  /*--------------------------------------------------------------------------*/
  .soc-media-icons { margin-left: 70px; }
  #mev-copyright p { margin-right: 70px; }

}
