/*
Colors palette:
Jazzberry Jam: #B20F5C;
Light version of Jazzberry Jam: #FFE5EE;
Syrah: #7D0B5B;
Lizard Green: #239B15;
Cerulean Blue: #3056CE;
Vaguely Violet: #E6ECFF;
*/
/*----------------------------------------------------------------------------*/
/* Global styles */
/*----------------------------------------------------------------------------*/
* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Metrisch', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.375;
  color: black;
}

b { font-weight: bold; }
i { font-style: italic; }

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 0.75em;
  color: #7D0B5B /* Syrah */
}

h2 {
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 0.625em;
  hyphens: auto;
}

img {
  width: 100%;
}

a {
  color: #3056CE; /* Blue */
}

a:visited { /* visited link */
  color: #7D0B5B; /* Syrah */
}

a:hover,
a:focus {
  color: #239B15; /* Green */
}

a:active { /* selected link */
  color: #239B15; /* Green */
}

header {
  width: 100%;
  margin: 0;
  background-color: #B20F5C;
 }

.cont-logo {
 padding: 60px 0 25px 20px;
}

.cont-logo img {
  width: 80%;
}

nav {
  background-color: #E6ECFF; /* Light blue */
}

nav .grid-container {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1;
  margin: 0 20px;
}

nav .grid-item {
  text-align: center;
  padding: 10px 15px;
 }

nav a {
  font-weight: 500;
  font-size: 0.95em;
  text-transform: uppercase;
  color: black !important;
  text-decoration: none;
  /* padding: 10px 15px; */
}

/*----------------------------------------------------------------------------*/
/* Layout styling */
/*----------------------------------------------------------------------------*/

section {
  padding: 30px 20px 40px 20px;
}

.grid-container {
  display: grid;
}

.grid-item {
  /* width: auto; */
}

.project-picture { margin-bottom: 0.75em;}

/*----------------------------------------------------------------------------*/
/* Font styling */
/*----------------------------------------------------------------------------*/

.font-medium { font-weight: 500; }

.font-larger {
  font-size: 1.125em;
  font-weight: bold;
  hyphens: none;
  margin-bottom: 0.9em;
}

.text-center { text-align: center; }

/*----------------------------------------------------------------------------*/
/* Buttons styling */
/*----------------------------------------------------------------------------*/

.button,
.button-filled,
.button-ghost {
  display: grid;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.125em;
  text-align: center;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 20px;
}

.button-filled {
    background-color: yellow;
    color: #ffffff !important;
    transition: 0.2s opacity;
}
.button-ghost {
    background-color: white;
    color: black !important;
    border: 1.5px solid black;
}

.button-filled.about {
  background-color: #3056CE; /* Blue */
}

.button-filled.work {
  background-color: #239B15; /* Green */
}

.button-ghost.about {
  color: #3056CE !important; /* Blue */
  border-color: #3056CE; /* Blue */
}

.button-filled:hover,
.button-filled:active {
  opacity: 0.8;
}

.button-ghost ~ p {
  margin-top: 20px;
}

/*----------------------------------------------------------------------------*/
/* Footer */
/*----------------------------------------------------------------------------*/

#contact {
  padding-bottom: 15px;
}

.solid-footer {
  margin: 0;
  background-color: #3056CE;
  padding: 20px 20px 10px 20px;
}

.grid-container.soc-media-icons {
  width: 80%;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  text-align: center;
}
.soc-media-icons a {
  display: inline-block;
  color: #3056CE;
  line-height: 2.4em;
  text-align: center;
  background-color: white;
  border-radius: 50%;
  width: 2.2em;
  height: 2.2em;
}

#mev-copyright {
  font-family: Arial, sans-serif;
  font-size: 0.8125em;
  color: white;
  text-align: center;
  margin-top: 15px;
}


#work .grid-container:not(:last-of-type) {
  padding-bottom: 20px;
}

#work .grid-item p:last-of-type {
  margin-bottom: 0;
}

#work .grid-container:not(:first-of-type) {
  padding-top: 20px;
  border-top: 1px solid #7D0B5B;
}

#about, #work {
  border-bottom: 5px solid #E6ECFF;
}

/*----------------------------------------------------------------------------*/
/* Media queries for tablet and desktop */
/*----------------------------------------------------------------------------*/
@media screen and (min-width: 500px) {
  nav {
    background-color: #B20F5C; /* Jazzberry */
    text-align: right;
  }
  nav a {
    color: white !important;
  }
}

@media screen and (min-width: 769px) {
  body { font-size: 18px; }
}
