
:root {
  /* Color palette: */
  --light-pink: #FADBEE;
  --barely-pink: #FEFBFD;
  --deep-purple: #440675;
  --light-purple: #F4EBFB;
}

/*----------------------------------------------------------------------------*/
/* Global styles */
/*----------------------------------------------------------------------------*/
/* html { scroll-behavior: smooth; } */

* { box-sizing: border-box; }

body {
  font-family: 'Metrisch', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.375;
  color: black;
  padding-top: var(--topnav-height-sm);
}

:not(#hero) ::selection {
  color: white;
  background-color: var(--fuschia);
}

b { font-weight: bold; }
i { font-style: italic; }

em {
  font-weight: 500;
  background-color: var(--light-pink);
  /* font-weight: bold; */
  /* color: #9641D8; */
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 0.75em;
  color: var(--fuschia)
}

h2 {
  font-weight: bold;
  line-height: 1.2;
  /* margin-top: 10px; */
  margin-bottom: 0.75em;
}

p { margin-bottom: 1em; }

img {
  width: 100%;
  vertical-align: middle;
}

a {
  color: var(--fuschia);
  transition: all 0.25s;
}

a:visited {
  color: var(--deep-purple);
}

a:hover,
a:focus,
a:active {
  text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

/*----------------------------------------------------------------------------*/
/* Font styling */
/*----------------------------------------------------------------------------*/

.font-medium { font-weight: 500; }

.font-larger {
  font-size: 1.125em;
  font-weight: bold;
  margin-bottom: 0.9em;
}

.text-center { text-align: center; }

/*----------------------------------------------------------------------------*/
/* Buttons styling */
/*----------------------------------------------------------------------------*/

.button,
.button-filled,
.button-ghost {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.125em;
  text-align: center;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.button-filled {
    background-color: var(--fuschia);
    color: #ffffff !important;
    padding: 10px 30px;
    transition: all 0.25s;
}

.button-filled.button-purple { background-color: var(--deep-purple); }

.button-ghost {
    color: white !important;
    border: 1.5px solid white;
    padding: 8.5px 28.5px;
    transition: all 0.25s;
}

.button-ghost.button-fuschia {
  color: var(--fuschia) !important;
  border-color: var(--fuschia);
  background-color: white
}

.button-ghost.button-purple {
  color: var(--deep-purple) !important;
  border-color: var(--deep-purple);
  background-color: white;
}

.button-ghost:hover,
.button-ghost:active,
.button-filled:hover,
.button-filled:active {
  -webkit-filter: brightness(115%) drop-shadow(0 0.1em 0.25em rgba(0,0,0,.4));
          filter: brightness(115%) drop-shadow(0 0.1em 0.25em rgba(0,0,0,.4));
}

.button-ghost:hover,
.button-ghost:active {
  background-color:  var(--fuschia);
  border-color: var(--fuschia);
  color: white !important;
}

.button-filled.button-purple:hover,
.button-filled.button-purple:active,
.button-ghost.button-purple:hover,
.button-ghost.button-purple:active {
  -webkit-filter: brightness(130%) drop-shadow(0 0.1em 0.25em rgba(0,0,0,.4));
          filter: brightness(130%) drop-shadow(0 0.1em 0.25em rgba(0,0,0,.4));
}

.button-ghost.button-purple:hover,
.button-ghost.button-purple:active {
  background-color:  var(--deep-purple);
  border-color: var(--deep-purple);
  color: #FFFFFF !important;
}

.button-ghost ~ p {
  margin-top: 20px;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none; /* NOTE: pointer-events cancels out the not-allowed cursor */
}

.button-filled.disabled,
.button-filled.disabled:hover,
.button-filled.disabled:active {
  /* background-color: #C65CAA; */
  background-color: rgba(168,4,125,0.65); /* NOTE: need to test how this behaves on ipad */
  /* opacity: 70%;
  -webkit-filter: none;
          filter: none; */
}

/*----------------------------------------------------------------------------*/
/* Header and top nav */
/*----------------------------------------------------------------------------*/

#top-nav { background-color: var(--fuschia); }

#menu-container { background-color: var(--fuschia); }

/*----------------------------------------------------------------------------*/
/* Layout styling */
/*----------------------------------------------------------------------------*/

section { padding: 40px 20px; }

p + h1 { margin-top: 30px; }

.indented-quote {
    margin: 30px 10px 30px 20px;
    border-left: solid 2px var(--deep-purple);
    padding: .1em 0 .1em 0.75em;
    font-size: 1.1em;
    font-weight: bold;
    color: var(--deep-purple);
}

.hide { display: none; }

/*----------------------------------------------------------------------------*/
/* Sections in index page */
/*----------------------------------------------------------------------------*/

#hero {
  position: relative;
  /* NOTE: setting background color in case background image doesn't load */
  background-color: var(--fuschia);
  /* background-image: url("../img/pixelated_background_small.png");
  background-size: 100% 100%; */
  overflow: hidden;
}

#hero img {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(0);
}

#hero .section-content {
  position: relative;
  z-index: 1;
}

#hero h1,
#hero p { color: #FFFFFF; }

#hero .button-filled,
#hero .button-ghost {
  box-shadow: 0 1px 15px rgba(255,255,255,0.5);
}

#hero ::selection {
  color: var(--deep-purple);
  background: var(--barely-pink);
}

#work { position: relative; }

#work-anchor {
 position: absolute;
 top: -60px;
}

#work h1,
#contact h1 { font-size: 1.5em; }

.case-study-card:not(:last-of-type) { padding-bottom: 30px; }

.case-study-card:not(:first-of-type) {
  padding-top: 30px;
  border-top: 1px solid var(--deep-purple);
}

.project-picture {
  position: relative;
  margin-bottom: 0.75em;
  overflow: hidden;
}

#play-animation-button {
  position: absolute;
  bottom: 5px;
  right: 12px;
  font-size: 1.5rem;
  color: var(--fuschia);
  align-items: center;
}

.project-picture .overlay {
  position: absolute;
  display: grid;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(68,6,117, 0.80); /* NOTE: deep purple with 80% opacity */
  -webkit-filter: opacity(0);
          filter: opacity(0);
  transition: all 0.25s;
  align-content: center;
}

a.overlay { text-decoration: none; }

.project-picture .overlay p {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0 10px;

}

.project-picture:hover .overlay,
.project-picture:active .overlay {
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

.project-picture:hover .overlay.hide-overlay {
  -webkit-filter: opacity(0);
          filter: opacity(0);
}

.project-picture img {
  transform: scale(1);
  transition: all 0.5s;
}

.project-picture:hover img { transform: scale(1.1); }

.image-container {
  position: relative;
  overflow: hidden;
  -o-object-position: top left;
     object-position: top left;
}

.image-container svg {
  /* width: 100%; */
  /* NOTE: Safari fix */
  width: 96%;
}

#mev-logo-animation .image-container {
  background-color: rgba(243,165,213,0.4);
  position: absolute;
  top: 0;
  /* NOTE: Safari fix */
  width: calc(100vw - 40px);
}

#mev-logo-animation.animate .image-container { background-color: var(--light-pink); }

#mev-logo-animation .wave {
  opacity: 1;
  transition: opacity 0.75s;
}

#mev-logo-animation svg { transition: transform 0.5s; }

#mev-logo-animation.animate .wave { opacity: 0; }

#mev-logo-animation { height: calc(63vw - 25.2px); }

#mev-logo-animation:hover #play-animation-button { color: #FFFFFF; }


/*----------------------------------------------------------------------------*/
/* Sections in about page */
/*----------------------------------------------------------------------------*/

#profile-pic {
  width: 12.5em;
  height: auto;
  margin-bottom: 20px;
}

h1 > p {
  font-size: .85em;
  font-weight: normal;
}

#hero-about { border-bottom: solid 7px var(--light-purple); }

#hero-about .intro h1 { margin-bottom: 0; }

#hero-about .intro p {
  color: var(--fuschia);
  font-size: 1.1em;
  font-weight: 500;
  margin-top: 0;
}

#skills-and-tools {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "skills tools"
                       "resume resume";
  grid-gap: 0 25px;
  background-color: var(--light-pink);
  padding: 20px;
  margin: 30px -20px;
}

#skills { grid-area: skills; }
#tools { grid-area: tools; }
#resume-button { grid-area: resume; }

#resume-button a { padding: 8.5px 15px; }

#tools,
#skills { font-size: .9em; }

#tools li,
#skills li {
  line-height: 1.25;
  margin-bottom: 0.75em;
}

#fun { margin-top: 30px; }

/*----------------------------------------------------------------------------*/
/* resume page */
/*----------------------------------------------------------------------------*/
.resume-container {
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: calc(100vh - 61px);
  max-height: 1175px;
}

.resume-container iframe {
  width: 1px;
  min-width: 100%;
  margin-bottom: -6px;
}

/*----------------------------------------------------------------------------*/
/* Footer */
/*----------------------------------------------------------------------------*/

#back-to-top a { color: var(--fuschia); }

#contact { background-color: var(--light-purple); }

.solid-footer {
  background-color: var(--deep-purple); /* NOTE: setting background color in
                                           case background image doesn't load */
  background-image: url("../img/pixelated_footer_small.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.soc-media-icons a:hover,
.soc-media-icons a:active { color: var(--fuschia) !important; }

/*----------------------------------------------------------------------------*/
/* Media queries for tablets and larger */
/*----------------------------------------------------------------------------*/
@media only screen and (min-width: 640px) {

  body { padding-top: var(--topnav-height-md); }

  section { padding: 30px 40px 40px 40px; }

  .button-container {
    display: flex;
    justify-content: space-between;
  }

  a.button-filled,
  a.button-ghost { display: inline-block; }

  /* Intro section in index page | tablets */
  /*--------------------------------------------------------------------------*/
  #hero .section-content {
    padding: 50px 57px 50px 136px;
    max-width: 653px;
  }

  /* My Work section in index page | tablets */
  /*--------------------------------------------------------------------------*/
  #work-anchor { top: -75px; }

  #work {
    background-image: linear-gradient(var(--barely-pink) 85%, var(--light-purple));
  }

  .case-studies .case-study-card:last-of-type { margin-bottom: 0; }

  .case-study-card {
    display: grid;
    grid-template-areas: "pic title"
                         "pic desc"
                         "button desc";
    grid-template-columns: 260px 1fr;
    grid-column-gap: 25px;
    background-color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    padding: 20px 40px 20px 20px;
    margin-bottom: 50px;
  }

  .case-study-card h2 {
    grid-area: title;
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .case-study-card h2 a {
    text-decoration: none;
    color: unset;
  }

  .case-study-card h2 a:hover,
  .case-study-card h2 a:focus,
  .case-study-card h2 a:active {
    color: var(--fuschia);
    text-decoration: underline;
    text-shadow: unset;
  }

  .case-study-card .project-picture { grid-area: pic;}
  .case-study-card .case-desc { grid-area: desc; }
  .case-study-card > div > a { grid-area: button; }

  .case-study-card:not(:first-of-type) {
    border-top: unset;
    padding-top: 20px;
  }

  .case-study-card:not(:last-of-type) { padding-bottom: 20px; }

  .case-study-card p { margin-bottom: 10px; }
  .case-study-card p:last-of-type { margin-bottom: 0; }

  .button-filled.work {
    width: 100%;
    margin-top: 15px;
   }

  .project-picture { margin: 0; }

  .project-picture img {
    width: 100%;
    height: auto;
    vertical-align: top;
  }

  #mev-logo-animation { height: 167px; }
  #mev-logo-animation .image-container { width: unset; }
  .image-container svg { width: 100%; }


  /* Hero section in about page | tablets */
  /*--------------------------------------------------------------------------*/
  #hero-about .section-content {
    display: grid;
    grid-template-areas: "pic hello"
                         "pic desc"
                         "pic buttons";
    grid-template-columns: 30% minmax(0, 445px);
    grid-column-gap: 30px;

  }

  #hero-about { border-bottom: 2px solid var(--deep-purple); }

  #profile-pic {
    grid-area: pic;
    height: 100%;
    width: auto;
    padding-right: 30px;
    margin-bottom: 0;
  }

  #hero-about .intro {
    grid-area: hello;
    margin-top: 10px;
    margin-bottom: 0px;
    max-width: 310px;
  }

  #hero-about .desc {
    grid-area: desc;
    margin: 0;
  }

  #hero-about .button-container {
    grid-area: buttons;
    margin: 0;
    align-self: end;
    display: flex;
    flex-direction: column;
  }

  /* About Me section in about page | tablets */
  /*--------------------------------------------------------------------------*/
  #about-me .section-content {
    display: grid;
    grid-template-areas: "my-story skills-and-tools"
                         "personal skills-and-tools"
                         "fun skills-and-tools";
   /* grid-template-areas: "skills-and-tools my-story"
                        "skills-and-tools personal"
                        "skills-and-tools fun"; */ /* NOTE: sidebar on the left */
    grid-template-columns: 1fr 30%;
    /* grid-template-columns: 30% 1fr;  */ /* NOTE: sidebar on the left */
    grid-gap: 20px 30px;
  }

  #skills-and-tools {
    grid-area: skills-and-tools;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 1080px;
    padding: 30px 30px 40px 40px;
    margin: -30px -40px -40px 0px;
    /* margin: -30px 0px -40px -40px; */ /* NOTE: sidebar on the left */
  }

  #resume-button .button-ghost { margin-top: 0px; }

  #my-story { grid-area: my-story; }
  #personal { grid-area: personal; }
  #fun {
    grid-area: fun;
    margin-top: 0;
  }

  #my-story, #personal, #fun { max-width: 700px;}

  #tools,
  #skills { font-size: 1em; }

  #resume-button {
    align-self: end;
    margin-bottom: 0.625em;
  }

  .indented-quote { margin: 30px 50px 30px 30px; }

  /* resume page | tablets */
  /*----------------------------------------------------------------------------*/
  .resume-container embed { height: calc(100vh - 75px); }

  /* Footer | tablets */
  /*--------------------------------------------------------------------------*/
  .solid-footer {
    background-image: url("../img/pixelated_footer_large.png");
    background-size: 100% 100%;
  }

}

/*----------------------------------------------------------------------------*/
/* Special case for hero-about section buttons */
/*----------------------------------------------------------------------------*/
@media only screen and (min-width: 760px) {

  #hero-about .button-container { flex-direction: row; }

}

/*----------------------------------------------------------------------------*/
/* Media queries for desktops and larger */
/*----------------------------------------------------------------------------*/
@media only screen and (min-width: 1024px) {

  body {
    font-size: 18px;
    padding-top: var(--topnav-height-lg);
    max-width: 1250px;
    margin: 0 auto;
    box-shadow: 1px 0 15px rgba(0,0,0,.4);
    -webkit-box-shadow: 1px 0 15px rgba(0,0,0,.4);
  }

  header { max-width: 1250px; }

  section {
    padding: 30px 70px 40px 70px;
    background-color: #FFFFFF;
  }

  /* Sections in index page | desktop */
  /*--------------------------------------------------------------------------*/

  #hero .section-content {
    padding: 70px 177px 70px 150px;
    max-width: 837px;
  }

  #work-anchor { top: -84px; }
  #work { padding: 70px 40px 40px 150px; }

  .case-study-card {
    grid-template-columns: 300px 1fr;
    grid-column-gap: 35px;
    padding-right: 30px;
    min-width: 834px;
    max-width: 950px;
  }

  .case-study-card h2 {
    font-size: 1.1em;
    margin-top: 0px;
    margin-bottom: 0.75em;
  }

  .case-study-card p { margin-bottom: 0.75em; }

  #mev-logo-animation.project-picture { height: 189px; }

  /* Sections in about page | desktop */
  /*--------------------------------------------------------------------------*/
  #hero-about .section-content {
    grid-template-columns: 225px 490px;
    grid-column-gap: 90px;
  }

  #about-me .section-content {
    grid-template-columns: 1fr 270px;
    /* grid-template-columns: 270px 1fr; */ /* NOTE: sidebar on the left */
    grid-gap: 30px 50px;
  }

  #skills-and-tools {
    min-height: 1200px;
    padding: 30px 40px 40px 70px;
    margin: -30px -70px -40px 0px;
    /* margin: -30px 0px -40px -70px; */ /* NOTE: sidebar on the left */
  }

  /* resume page | desktop */
  /*----------------------------------------------------------------------------*/
  .resume-container embed { height: calc(100vh - 85px); }


}
